@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@theme {
  --color-background-primary: #222024;
  --color-background-secondary: #353138;
  --color-accent-primary: #d47024;
  --color-accent-secondary: #703b13;
  --color-text: #c7c7c7;
  --color-error: #e02b2b;
  --color-error-dark: #611212;
  --color-text-disabled: #696969;
  --color-border: #9e9d9d;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  font-style: normal;
  background-color: var(--color-background-primary);
  color: #d3dad9;
}

@media (max-width: 480px) {
  .display-none {
    display: none;
  }
}

.spinner {
  width: 28px;
  height: 28px;
  border: 5px solid var(--color-text);
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: spin 1s ease infinite;
}

.fortnite {
    animation-timing-function: ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
